body
{
    font-family: 'Montserrat', sans-serif;

    background-color: lightslategrey;
}

*,
*:before,
*:after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content
{
    max-width: 1200px;
    min-height: 100vh;

    margin: 0 auto;
    padding-bottom: 10px;

    background-color: lightsteelblue;
}

.header
{
    padding: 50px 0;    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 100px);
    grid-template-areas: 
        ". title title ."
        "add .. .. clear";
    justify-items: center;
    align-items: center;
}

.header-title
{
    text-align: center;

    font-size: 40px;
    font-weight: 300;

    grid-area: title;
}

.upload-button
{
    transition: background .2s linear;

    cursor: pointer;

    grid-area: add;

    padding: 1rem;

    font-family: 'Montserrat', sans-serif;

    border: none;
    border-radius: 5px;
    outline: none;
    background: rgb(17, 112, 200);
    color: #fff;
}

.upload-button:hover
{
    background: rgb(11, 69, 124);
}

.clear-button
{
    transition: background .2s linear;

    cursor: pointer;

    grid-area: clear;

    padding: 1rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    border: none;
    border-radius: 5px;
    outline: none;
    background: rgb(206, 38, 38);
    color: #fff;
}

.clear-button:hover
{
    background: rgb(129, 24, 24);
}

#upload-btn
{
    display: none;
}

.grid-gallery
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;

    padding: 0 15px;
}

.grid-box
{
    background-color: black;
    overflow: hidden;

    height: 100%;
}

.grid-box img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0.8;
    transition: opacity .3s linear, transform .3s linear;

    cursor: pointer;
}

.grid-box img:hover
{
    opacity: 1;
    transform: scale(1.2);
}

.grid-box:nth-child(6n + 1)
{
    grid-column: span 3;
    grid-row: span 1;
}

.grid-box:nth-child(6n + 2)
{
    grid-column: span 1;
    grid-row: span 2;
}

.grid-box:nth-child(6n + 3)
{
    grid-column: span 1;
    grid-row: span 2;
}

.grid-box:nth-child(6n + 4)
{
    grid-column: span 2;
    grid-row: span 1;
}

.grid-box:nth-child(6n + 5)
{
    grid-column: span 3;
    grid-row: span 1;
}

.grid-box:nth-child(6n + 6)
{
    grid-column: span 4;
    grid-row: span 1;
}

@media (max-width: 1200px)
{
    .grid-gallery
    {
        grid-template-columns: 1fr 1fr;
    }

    .grid-box:nth-child(6n + 1)
    {
        grid-column: span 2;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 2)
    {
        grid-column: span 1;
        grid-row: span 2;
    }

    .grid-box:nth-child(6n + 3)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 4)
    {
        grid-column: span 1;
        grid-row: span 2;
    }

    .grid-box:nth-child(6n + 5)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 6)
    {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (max-width: 700px)
{
    .header
    {
        margin-bottom: 0;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 100px);
        grid-template-areas: 
            "... title title ..."
            "... add clear ...";
    }

    .grid-gallery
    {
        grid-template-columns: 1fr;
    }

    .grid-box:nth-child(6n + 1)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 2)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 3)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 4)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 5)
    {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box:nth-child(6n + 6)
    {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 400px)
{
    .header
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 100px);
        grid-template-areas: 
            "... title title ..."
            "add add clear clear";
    }
}

/* ================= Modal ================= */

.modal-overlay
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: -1;
    opacity: 0;

    background-color: rgba(0, 0, 0, .8);
}

.modal-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;
    opacity: 0;
}

.modal-content img
{
    max-height: 80vh;
    max-width: 80vw;
}

.modal.open .modal-overlay
{
    z-index: 1000;
    opacity: 1;
}

.modal.open .modal-content
{
    z-index: 1000;
    opacity: 1;
}

.close-button 
{
    position: absolute;
    right: -40px;
    top: -40px;

    width: 32px;
    height: 32px;

    opacity: 0.3;

    transition: opacity .3s linear;
}

.close-button:hover 
{
    opacity: 1;
}

.close-button:before,
.close-button:after 
{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }

.close-button:before 
{
    transform: rotate(45deg);
}

.close-button:after 
{
    transform: rotate(-45deg);
}

@media (max-width: 700px)
{
    .modal-content img
    {
        max-width: 90vw;
    }

    .close-button
    {
        right: auto;
        top: auto;
        bottom: -64px;
        left: 50%;
    }
}